@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}


.경주,.부산,.풍경{margin-bottom: 14px;
    margin:5px;
    width: 250px;
    height: 40px;
    border: 1px solid rgb(199, 227, 247);font-family: 'IM_Hyemin-Bold';font-size:xxX-large;background: none;margin-top: 15%;color:rgb(109, 182, 230)
    }
div{border: 4px solid rgb(199, 227, 247);
    width:300px;height:400px; 
    margin-top:10%; margin-left:40%; text-align:center;font-family: 'IM_Hyemin-Bold';color:rgb(109, 182, 230)}
body{background-color:rgb(199, 227, 247) ;}

.경주:hover{
    color:rgb(31, 113, 168)
}
.부산:hover{
    color:rgb(31, 113, 168)
}
.풍경:hover{
    color:rgb(31, 113, 168)
}
.back{ background :none;
    border:none;
    color:rgba(109, 181, 230, 0.664);
    font-family: 'IM_Hyemin-Bold';
    font-size: large;}
.back:hover{
    color:rgb(31, 113, 168)
}

    

